<div class="row">
    <div class="large-9 columns">
        <%= form_for @post  do |f| %>
            <div class="row">
                <div class="large-6 columns">
                    <%= f.label :name %>
                    <%= f.text_field  :name %>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <%= f.label :text %>
                    <%= f.text_area :text %>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <%= f.submit class: 'button' %>
                </div>
            </div>
            
        <% end %>
    </div>
</div>